apiVersion: apps/v1
kind: Deployment
metadata:
  name: magiclens
  namespace: production
spec:
  replicas: 1
  selector:
    matchLabels:
      app: magiclens
  template:
    metadata:
      labels:
        app: magiclens
    spec:
      containers:
        - name: app
          image: registry.registry.svc.cluster.local:5000/magiclens:$TAG
          ports:
            - containerPort: 5000
